.container {
  width: 420px;
  height: 600px;
  margin-left: 308px;
}

.title {
  height: 65px;
}

.content {
  font-size: large;
}
.footer {
  font-size: small;
  padding-left: 20px;
}
.editContact {
  padding: 30px;
}
.back{
  padding:30px;
  margin-left: 208px;
}